h1 {
    font-size: 86px;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 22px;

}

// h3 {
//     font-size: 20px;
// }

h6,
.card__description {
    font-size: 13px;
}

a {
    color: #464646;
    font-size:14px;
}

p {
    font-size: 20px;
}